* {
    margin: 0 0 0 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body {
    display: flex;   
    min-height: 100vh;
    background: #111620;
    margin: 5px 5px 0px 5px;
}

.picture{
    padding: 10px;
}

.hattervideo img{
    width: 100%;
    height: auto;
}

.gallelry {
    width: 100%;
    height: auto;
    display: flex;
    margin: 5% auto 0;
}

.image-box {
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s;
}

.image-box img {
    width: 100%;
    height: 355px;
    object-fit: cover;
    transition: 0.5s;
}

.image-box:hover {
    flex-basis: 35%;
}

.gallelry .active {
    flex-basis: 35%;
}

.gallelry:hover .active {
    flex-basis: 0;
}

.gallelry .image-box:nth-child(1):hover {
    flex-basis: 35%;
}

.oldalsav {
    position: relative;
    padding: 15px;
    background: linear-gradient(45deg,#EA4956, #111620); 
    margin-right: 5px;
    animation: color 12s ease-in-out infinite;
    width: 160px;
}

@keyframes color{
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.cimsor {
    color:#EA4956;
    text-align: center;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.container .box {
    position: relative;
    width: 200px;
    height: 200px;
    background: #323232;
    display: flex;
   
}

.container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box .content img {
    width: 100%;
}

.hattervideo {
    margin-top: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container .box .content .text {
    color:#EA4956 ;
}

.palyaszoveg {
    color:#EA4956 ;
    text-align: justify;
    padding: 15px;
    margin-top: 10px;
    line-height: 1.6;
}

h4{
    margin-bottom: 15px;
}

footer {
    position: relative;
    width: 100%;
    background:#EA4956; 
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li, footer .menu li {
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: #111620;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    color: #111620;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;

}

footer .menu li a:hover {
    opacity: 1;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:url(wave.png) ;
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% { background-position-x: 1000px; }
    100% { background-position-x: 0px; }
}

@keyframes animateWave_02 {
    0% { background-position-x: 0px; }
    100% { background-position-x: 1000px; }
}